.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title {
    color: var(--white-color);
    font-size: var(--font-size-bg);
    text-align: center;
}

.title b {
    color: var(--third-color);
    font-size: var(--font-size-bg);

}
